<h1 mat-dialog-title>{{operation}} Paciente</h1>
<form [formGroup]="form" (ngSubmit)="addEditPatient()">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="firstname">
      </mat-form-field>
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="lastname">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Nacionalidad</mat-label>
        <input matInput formControlName="nationality">
      </mat-form-field>
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Pais de residencia</mat-label>
        <input matInput formControlName="residenceCountry">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Localidad</mat-label>
        <input matInput formControlName="locality">
      </mat-form-field>
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Ocipacion</mat-label>
        <input matInput formControlName="occupation">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="telephone">
      </mat-form-field>
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close (click)="closeDialog(false)" type="button">Cancelar</button>
    <button mat-raised-button cdkFocusInitial type="submit" color="primary">Guardar</button>
  </mat-dialog-actions>
</form>
