.full-width {
  width: 96%;
  padding: 2%;
}

.mid-width {
  width: 46%;
  padding: 2%;
}

.error {
  color: #B0304B
}

.disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: reduce the opacity to visually indicate that the content is disabled */
}
