<h1 mat-dialog-title>{{operation}} Casos</h1>
<form [formGroup]="form" (ngSubmit)="addEditConsultation()">
  <mat-dialog-content>
    <div class="row" [ngClass]="{'disabled': !enableBasicField}">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Fecha Inicial</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="consultationDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Paciente</mat-label>
        <mat-select matNativeControl required formControlName="idPatient">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let patient of patientList" [value]="patient.id">
            {{patient.firstname}} {{patient.lastname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Razon consulta</mat-label>
        <textarea matInput rows="4" placeholder="Ingresa la razon" formControlName="reason"></textarea>
        <mat-hint align="end">{{reasonControl.value?.length || 0}} / 5000</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Tema consulta</mat-label>
        <textarea matInput rows="4" placeholder="Ingresa el tema" formControlName="topic"></textarea>
        <mat-hint align="end">{{reasonControl.value?.length || 0}} / 5000</mat-hint>
      </mat-form-field>
      <mat-form-field class="mid-width" appearance="fill">
        <mat-label>Dinamica sistemica</mat-label>
        <textarea matInput rows="4" placeholder="Ingresa la dinamica sistemica"
          formControlName="systemicDynamics"></textarea>
        <mat-hint align="end">{{reasonControl.value?.length || 0}} / 5000</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Solucion consulta</mat-label>
        <textarea matInput rows="4" placeholder="Ingresa la solucion" formControlName="solution"></textarea>
        <mat-hint align="end">{{reasonControl.value?.length || 0}} / 5000</mat-hint>
      </mat-form-field>
    </div>
    <input hidden="userId" value="{{userId}}">
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close (click)="closeDialog(false)" type="button">Cancel</button>
    <button mat-raised-button cdkFocusInitial type="submit" color="primary">Save</button>
  </mat-dialog-actions>
</form>