table {
  width: 100%;
}

.btn {
  cursor: pointer;
}

.btnEdit {
color:cornflowerblue
}

.btnDelete {
  color: darkred;
}

mat-form-field {
  font-size: 14px;
  width: 80%;
}

.headerTableContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
