<h1>Patient Module</h1>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
</mat-form-field>

<button mat-fab color="primary" aria-label="Add patient" (click)="addEditPatient()">
  <mat-icon>add</mat-icon>
</button>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let row"> {{row.firstname}} {{ row.lastname }} </td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
    <td mat-cell *matCellDef="let row"> {{row.dob | date: 'mediumDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="nationality">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </th>
    <td mat-cell *matCellDef="let row"> {{row.nationality}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-icon matToolTip="Edit" class="btnEdit">edit</mat-icon>
      <mat-icon matToolTip="Delete" class="btnDelete" (click)="deletePatient(row.id)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
