<h1>Modulo de Consultas</h1>
<div class="headerTableContainer">
  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
  </mat-form-field>
  <!-- <button mat-fab color="primary" aria-label="Nueva Consulta" (click)="addEditCase()">
    <mat-icon>add</mat-icon>
  </button> -->
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Casos Activos">
    <table mat-table [dataSource]="dataSourceActive" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="consultationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio</th>
        <td mat-cell *matCellDef="let row"> {{row.consultationDate | date: 'dd/MM/YYYY HH:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima Consulta</th>
        <td mat-cell *matCellDef="let row"> {{row.date | date: 'dd/MM/YYYY HH:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente</th>
        <td mat-cell *matCellDef="let row"> {{row.firstname}} {{row.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" matToolTip="Edit" (click)="addEditCase(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- <button mat-icon-button color="accent" matToolTip="Edit" (click)="addObservation(row.id)">
            <mat-icon>file_open</mat-icon>
          </button> -->
          <button mat-icon-button color="warn" matToolTip="Delete" (click)="deleteCase(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data to display</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" aria-label="Select page of patients">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Casos Inactivos">
    Content
  </mat-tab>
</mat-tab-group>